<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Sobre</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">  
        <script src="../js/jquery-3.3.1.min.js"></script>  
        <script src="../bootstrap/js/bootstrap.min.js"></script> 
    </head>
    <body style="background-color:rgba(0, 0, 0, 0);">         
        <div class="container" style="padding: 30px; background-color:rgba(0, 0, 0, 0.3);border-radius: 25px;">
            <div class="row" >
                <div class="col-md-12 col-sm-12">
                  <h1 style="color:white;"> Sobre</h1>
                  <p class="text-justify" style="color:white; padding: 20px;"> 
                    Trabalho desenvolvido no 8º período no curso de Ciência da Computação
                    na disciplina de Trabalho de Diplomação II. Sistema Gerenciador
                    de Ordens de Serviço utilizando a linguagem Javascript, é um sistema que visa a gestão e automatização
                    de ordens de serviço, fornecendo ao usuário funcionalidades que o permite gerenciar serviços, usuarios, 
                    OS's e gerar graficos. <br><br>Aluno responsavél: João Guilherme Moreira Conte.<br>Orientador: João Carlos de Moraes Morselli Jr.
                </p>    
              </div>
            </div>
        </div>
    </body>
</html>